
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Streamlit
.streamlit/

# Video files
*.mp4
*.mp3
*.mkv
*.webm
*.part
*.ytdl

# IDE
.vscode/
.idea/

# Local files
cookies.txt
debug_output.*
